<div class="container-fluid mt-20 mb-20">
  @if (isLoading) {
    <app-skeleton></app-skeleton>
  } @else {
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="mb-5 mt-5">{{ title }}</h2>
        @for (genre of genresList; track genre) {
          <a [routerLink]="getGenreLink(genre)">
            <button class="genre-card genre-button" aria-label="Genres">
              {{ genre.name }}
            </button>
          </a>
        }
      </div>
    </div>
  }
</div>
